EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=seu-google-web-client-id.apps.googleusercontent.com
EXPO_PUBLIC_ONESIGNAL_APP_ID=seu-onesignal-app-id
EXPO_PUBLIC_ONESIGNAL_REST_API_KEY=sua-onesignal-rest-api-key

# Backend
EXPO_PUBLIC_API_URL=http://192.168.0.103:3333

# Cloudinary (apenas valores públicos do app)
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
