EXPO_PUBLIC_FIREBASE_API_KEY=sua-chave-api-aqui
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=seu-projeto.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=seu-projeto
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=seu-projeto.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=000000000000
EXPO_PUBLIC_FIREBASE_APP_ID=1:000000000000:web:xxxxxxxxxx
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=seu-google-web-client-id.apps.googleusercontent.com
EXPO_PUBLIC_ONESIGNAL_APP_ID=seu-onesignal-app-id
EXPO_PUBLIC_ONESIGNAL_REST_API_KEY=sua-onesignal-rest-api-key
